# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/

# Third-party EasyRoads3D assets (not included in the repository)
Assets/EasyRoads3D/
Assets/EasyRoads3D Assets/
Assets/EasyRoads3D Scenes/
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

//123
